/*==============variables====================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap|Sofia");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

:root {
    
    /* color */
    --clr-primary-5: #49a6e9;
    --clr-primary-10: hsl(205, 100%, 96%);
    --dark-bg: #1d2a35;
    --clr-grey-0:#282c34;
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-white: #fff;
    --clr-black: #222;

    /* font */
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
     /* transition*/
    --transition: all 0.3s linear;

    /* border radius*/
    --radius: 0.5rem;
   
}
/*================================================*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-left: 20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 80px;
    padding: 0;
    text-align: center;
    width:80px;
}


.game-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
   background-color: var(--clr-grey-2);
   padding: 1rem;
   width: 100%;
   border-bottom: 2px solid rgb(36, 80, 82);
   text-align: center;
   color: var(--clr-white);
   font-weight: bold;
   
}

.status span{
    background-color:rgb(29, 42, 53, 0.5);
    padding: 0.6rem;
    color: #00FF57;
    box-shadow:3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.game-undo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-control{
font-size: 2rem;
}

.btn{
    text-align: center;
    background-color: rgba(0, 191, 255, 0.7);
    padding: 0.4rem;
    text-align: center;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    gap: 0.2rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
    color: var(--clr-white);
    
}
.btn:hover{
    background-color: rgba(0, 191, 255, 0.4);
}
.players{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.player{
    background-color: var(--clr-grey-2);
    padding: 1rem;
    color: var(--clr-white);
    display: flex;
    font-weight: bold;
    font-size: 0.8rem;
    width: 50%;
}
.timer{
    color:rgba(0, 191, 255, 0.7);
}

.player:first-child{
    border-right: 0.3rem solid green;
}


.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--clr-grey-1);
    gap: 2rem;
}

.game header{
    padding: 1rem;
    width: 60%;
    text-align: center;
    border-bottom:0.5rem solid rgba(0, 191, 255, 0.7);
}

header h1 {
    font-size: 2rem;
    color: var(--clr-primary-10);
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 191, 255, 0.7);
}

.game-info {
    margin-left: 20px;
    
}